<% include layout/common-head.ejs %>
<body>
<% include layout/common-header.ejs %>

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
            <% include layout/common-nav.ejs %>
        </div>
        <div class="col-lg-9 col-md-9">
            <div class="content">
                <span class="hidden" id="page"><%= title %></span>
                <h3><%= title %></h3>
                <div class="type">
                    <div class="z-form">
                        <form class="form-inline">
                            <div class="form-group" id="datepicker">
                                <label for="scoredate">日期</label>
                                <input type="text" class="form-control" id="scoredate" placeholder="填写月份">
                            </div>
                            <div class="form-group">
                                <label>组织</label>
                                <% if (info.type == 'admin') { %>
                                <input type="text" class="form-control" value="<%= info.office %>" disabled>
                                <input type="text" class="form-control" value="<%= info.produce %>" disabled>
                                <input type="text" class="form-control" value="<%= info.team %>" disabled>
                                <% } else { %>
                                <select name="office" id="office" class="form-control">
                                    <option value="">请选择科室</option>
                                </select>
                                <select name="produce" id="produce" class="form-control">
                                    <option value="">请选择工序</option>
                                </select>
                                <select name="team" id="team" class="form-control">
                                    <option value="">请选择班组</option>
                                </select>
                                <% } %>
                            </div>
                            <button type="submit" class="btn btn-warning btn-sm">显示</button>
                        </form>
                    </div>
                    <div class="col-lg-5 col-md-5">
                        <table id="table"></table>
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <div id="echarts_main"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include component/modal-modPassword.ejs %>
<% include layout/common-footer.ejs %>
<!-- bootstrap table -->
<script src="/bootstrap-table/dist/bootstrap-table.js"></script>
<script src="/bootstrap-table/dist/locale/bootstrap-table-zh-CN.js"></script>
<script src="/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
<script src="/bootstrap-datepicker/dist/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<script src="/javascripts/common.js"></script>
<!-- echarts -->
<script src="/echarts.js"></script>
<script src="/javascripts/echart.js"></script>
<script>
  var $table = $('#table');
  var $scoredate = $('#scoredate');
  var $officeField = $('#office');
  var $produceField = $('#produce');
  var $teamField = $('#team');
  $(function () {
    $('#table').bootstrapTable({
      url: '/admin/stat/type/table',
      height: 500,
      toolbar: '#toolbar',
      ajaxOptions: {global: false},
//      pagination: true,
      sidePagination: 'client',
//      pageNumber: 1,
//      pageSize: 10,
//      pageList: '[10, 20, 50, ALL]',
      responseHandler: function (res) {
        return res;
      },
      queryParams: function (params) {
        return {
          scoredate: $scoredate.val(),
          office: $officeField.val(),
          produce: $produceField.val(),
          team: $teamField.val()
        }
      },
      columns: [{
        field: 'type2',
        title: '减分类型'
      }, {
        field: 'count',
        title: '数量'
      }]
    });
    // toolbar
    $('form').submit(function (e) {
      e.preventDefault(); // 取消默认提交
      $table.bootstrapTable('refresh');
    });
    $table.on('post-body.bs.table', function () {
      var data = $table.bootstrapTable('getData');
      var data1 = [], data2 = [];
      for (var i = 0; i < data.length; i++) {
        data1.push(data[i].type2);
        data2.push({
          value: data[i].count,
          name: data[i].type2
        });
      }
      refreshChart(data1, data2);
    });
    // 日期选择
    $('#scoredate').datepicker({
      format: "yyyymm",
      minViewMode: 1,
      maxViewMode: 2,
      language: "zh-CN",
      autoclose: true
    });
    // 组织3级联单

    $.ajax({
      url: '/sys/admins/ajax/getOffice',
      global: false,
      success: function (result) {
        for (var i = 0; i < result.length; i++) {
          var $optionHtml = $('<option>' + result[i].office + '</option>');
          $officeField.append($optionHtml);
        }
      }
    });
    $officeField.change(function () {
      var office = $officeField.val();
      $.ajax({
        url: '/sys/admins/ajax/getProduce',
        global: false,
        data: {
          office: office
        },
        success: function (result) {
          $('#produce option:gt(0)').remove();
          for (var i = 0; i < result.length; i++) {
            var $optionHtml = $('<option>' + result[i].produce + '</option>');
            $produceField.append($optionHtml);
          }
        }
      });
    });
    $produceField.change(function () {
      var office = $officeField.val();
      var produce = $produceField.val();
      $.ajax({
        url: '/sys/admins/ajax/getTeam',
        global: false,
        data: {
          office: office,
          produce: produce
        },
        success: function (result) {
          $('#team option:gt(0)').remove();
          for (var i = 0; i < result.length; i++) {
            var $optionHtml = $('<option>' + result[i].team + '</option>');
            $teamField.append($optionHtml);
          }
        }
      });
    });
  });
</script>
</body>
<% include layout/common-foot.ejs %>
