<% include layout/common-head.ejs %>
<body>
<% include layout/common-header.ejs %>

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
            <% include layout/common-nav.ejs %>
        </div>
        <div class="col-lg-9 col-md-9">
            <div class="content">
                <span class="hidden" id="page"><%= title %></span>
                <h3><%= title %></h3>
                <div class="staff">
                    <div id="toolbar">
                        <button id="add" class="btn btn-warning">
                            <i class="glyphicon glyphicon-plus"></i> 添加
                        </button>
                    </div>
                    <table id="table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 模态框（Modal） -->
<!--<div class="modal fade" id="eidtModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myReplyModalLabel">更改员工</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="editConfirm">提交回复</button>
            </div>
        </div>&lt;!&ndash; modal-content &ndash;&gt;
    </div>
</div>-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myAddModalLabel">添加员工
                    <small>班组：
                        <%= info.department %>
                        <%= info.office ? ' - ' + info.office : '' %>
                        <%= info.produce ? ' - ' + info.produce : '' %>
                        <%= info.team ? ' - ' + info.team : '' %>
                    </small>
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="userid" class="control-label col-lg-2">员工号</label>
                        <div class="col-lg-9">
                            <input type="text" name="userid" id="userid" class="form-control" placeholder="请填写员工号" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="username" class="control-label col-lg-2">姓名</label>
                        <div class="col-lg-9">
                            <input type="text" name="username" id="username" class="form-control" placeholder="请填写姓名" autocomplete="off">
                        </div>
                    </div>
                    <% if(info.type != 'admin'){ %>
                    <div class="form-group">
                        <label for="" class="control-label col-lg-2 hidden-md hidden-sm">组织</label>
                        <div class="col-lg-3 col-md-4 col-sm-4">
                            <select name="office" id="office" class="form-control">
                                <option value="">请选择科室</option>
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-4">
                            <select name="produce" id="produce" class="form-control">
                                <option value="">请选择工序</option>
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-4">
                            <select name="team" id="team" class="form-control">
                                <option value="">请选择班组</option>
                            </select>
                        </div>
                    </div>
                    <% } %>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="addConfirm">添加</button>
            </div>
        </div><!-- modal-content -->
    </div>
</div>
<% include component/modal-modPassword.ejs %>
<% include component/modal-delConfirm.ejs %>
<!-- modal -->
<% include layout/common-footer.ejs %>
<!-- bootstrap table -->
<script src="/bootstrap-table/dist/bootstrap-table.js"></script>
<script src="/bootstrap-table/dist/locale/bootstrap-table-zh-CN.js"></script>
<script src="/bootstrap-table/dist/extensions/export/bootstrap-table-export.js"></script>
<script src="/bootstrap-table/lib/tableExport.js"></script>
<script src="/javascripts/common.js"></script>
<script>
  function operateFormatter(value, row, index) {
    return [
      '<a class="op" href="javascript:void(0)" title="修改">',
      '<i class="glyphicon glyphicon-pencil text-primary"></i></a>  ',
      '<a class="op" href="javascript:void(0)" title="删除">',
      '<i class="glyphicon glyphicon-trash text-danger"></i></a>'
    ].join('');
  }
  var $table = $('#table');
  var clickId = ''; // 最后点击的id
  /*  $('#editConfirm').click(function () {
   if (clickId != '') {
   $.ajax({
   url: "/admin/staff/ajax/editStaff",
   method: 'POST',
   data: {
   id: clickId,
   reContent: $('textarea[name=reContent]').val(),
   status: $('select option:selected').val()
   },
   success: function (result) {
   $('#replyModal').modal('hide');
   $table.bootstrapTable('refresh');
   }
   });
   }
   });*/

  $('#delConfirm').click(function () {
    if (clickId != '') {
      $.ajax({
        url: '/admin/staff/ajax/delStaff',
        method: 'POST',
        data: {
          id: clickId
        },
        success: function (result) {
          $('#delModal').modal('hide');
//          ajaxReturnMessageForGlobal = result;
          alert(result);
          $table.bootstrapTable('remove', {
            field: 'uid',
            values: [clickId]
          });
        }
      });
    }
  });
  window.operateEvents = {
    'click [title=修改]': function (e, value, row, index) {
      // alert('You click edit action, row: ' + JSON.stringify(row));
      // confirm('确认编辑吗？');
      alert('编辑功能暂不开放');
    },
    'click [title=删除]': function (e, value, row, index) {
      $('#delModal').modal('show');
      clickId = row.uid;
    }
  };
  $(function () {
    $('#table').bootstrapTable({
      url: '/admin/staff/ajax/table',
      height: 550,
      toolbar: '#toolbar',
      search: true,
      showRefresh: true,
//      showColumns: true,
      showExport: true,
      ajaxOptions: {global: false},
//      pagination: true,
      sidePagination: 'client',
      pageNumber: 1,
      pageSize: 10,
      pageList: '[10, 20, 50, ALL]',
      responseHandler: function (res) {
        return res;
      },
      sortOrder: 'desc',
      sortName: 'uid',
      columns: [{
        field: 'uid',
        title: 'id',
        visible: false
      }, {
        field: 'userid',
        title: '员工号'
      }, {
        field: 'username',
        title: '姓名'
      }, {
        field: 'department',
        title: '部门'
      }, {
        field: 'office',
        title: '科室'
      }, {
        field: 'produce',
        title: '工序'
      }, {
        field: 'team',
        title: '班组'
      }, {
        field: 'operate',
        title: '操作',
        align: 'center',
        valign: 'middle',
        events: operateEvents,
        formatter: operateFormatter
      }]
    });
      /* toolbar - add user */
    $('#add').click(function () {
      $('#addModal').modal('show');
    });
    var $useridField = $('#userid');
    var $usernameField = $('#username');
    var $officeField = $('#office');
    var $produceField = $('#produce');
    var $teamField = $('#team');
    $('#addConfirm').click(function () {
      var userid = $useridField.val().trim();
      var username = $usernameField.val().trim();
      if (userid && username) {
        if (userid.length <= 10 && username.length <= 10) {
          if ($officeField.length == 0 && $produceField.length == 0 && $teamField.length == 0) {
            $.ajax({
              url: '/admin/staff/ajax/addStaff',
              method: 'POST',
              data: {
                userid: userid,
                username: username
              },
              success: function (result) {
                $('#addModal').modal('hide');
                alert(result);
                $table.bootstrapTable('refresh');
              }
            });
          }else{
            var office = $officeField.val();
            var produce = $produceField.val();
            var team = $teamField.val();
            if(office && produce && team){
              $.ajax({
                url: '/admin/staff/ajax/addStaffBySys',
                method: 'POST',
                data: {
                  userid: userid,
                  username: username,
                  office: office,
                  produce: produce,
                  team: team
                },
                success: function (result) {
                  $('#addModal').modal('hide');
                  alert(result);
                  $table.bootstrapTable('refresh');
                }
              });
            }else{
              alert('请填写完整');
            }
          }
        } else {
          alert('输入超过长度，请重新输入');
          $useridField.val('');
          $usernameField.val('');
          $useridField[0].focus();
        }
      } else {
        alert('请填写完整');
      }
    });
    // 部门，科室，工序，班组 4级联单
    $('#addModal').on('shown.bs.modal', function () {
      $useridField[0].focus();
      $.ajax({
        url: '/sys/admins/ajax/getOffice',
        global: false,
        success: function (result) {
          for (var i = 0; i < result.length; i++) {
            var $optionHtml = $('<option>' + result[i].office + '</option>');
            $officeField.append($optionHtml);
          }
        }
      });
      $officeField.change(function () {
        var office = $officeField.val();
        $.ajax({
          url: '/sys/admins/ajax/getProduce',
          global: false,
          data: {
            office: office
          },
          success: function (result) {
            $('#produce option:gt(0)').remove();
            for (var i = 0; i < result.length; i++) {
              var $optionHtml = $('<option>' + result[i].produce + '</option>');
              $produceField.append($optionHtml);
            }
          }
        });
      });
      $produceField.change(function () {
        var office = $officeField.val();
        var produce = $produceField.val();
        $.ajax({
          url: '/sys/admins/ajax/getTeam',
          global: false,
          data: {
            office: office,
            produce: produce
          },
          success: function (result) {
            $('#team option:gt(0)').remove();
            for (var i = 0; i < result.length; i++) {
              var $optionHtml = $('<option>' + result[i].team + '</option>');
              $teamField.append($optionHtml);
            }
          }
        });
      });
    });
    // 关闭modal的时候清空
    $('#addModal').on('hide.bs.modal', function () {
      $('#office option:gt(0)').remove();
      $('#produce option:gt(0)').remove();
      $('#team option:gt(0)').remove();
      $useridField.val('');
      $usernameField.val('');
    });
  });

</script>
</body>
<% include layout/common-foot.ejs %>
